.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  &__counter{

    text-align: center;
    p{
      font-size: 40px;
    }
    button{
      padding:20px;
    }
  }

}