@import './../../../globals'; // Make sure the correct path is used for importing the global styles

.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    cursor: pointer;
    background-color: rgba(48, 48, 48, 0.5);
  }

  &__closeButton {
    position: absolute;
    width: 45px;
    top: 10px;
    right: 10px;
    padding: 5px;
  }

  &__content {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color; // Make sure $primary-color is properly imported and defined
    border: 3px solid $primary-color;
    z-index: 1000;
    border: 1px solid white;
    border-radius: 10px;
  }
}
