.FormInputGroupWithError {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &__inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
  }

  label {
    //flex: 0.3;
    width: 100px;
    margin-right: 10px;
    font-weight: bold;
  }

  input {
    flex: 0.7;
    height: 34px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  &__error {
    color: rgb(190, 2, 2);
    font-weight: bold;
    margin-top: 5px;
  }
}
