@import '../../../globals';

.VacationDetails {
  width: 400px;
  margin: 50px auto;
  @include formFrame;
  @include centeredFlexBox;

  & __container {
    @include centeredFlexBox;
    padding: 30px;
  }
}
