@import '../../../globals/';

.LikeButton {
  font-size: 30px; /* Apply the desired font size */
  margin-right: 5px; /* Apply the desired margin */
  font-size: 16px;

  &__isLiked {
    path {
      /* Target the FontAwesome icon container */
      color: $accent-color; /* Apply the desired color */
    }
  }

  &__unLiked {
    path {
      /* Target the FontAwesome icon container */
      color: $accent-color; /* Apply the desired color */
    }
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 18px;
  }
}
