.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border: 1px solid black;

  & a {
    color: white;
  }

  & > a:not(:last-child) {
    margin-right: 10px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    color: white;
    text-decoration: none;

    &:hover {
      font-weight: 600;
    }
  }
}
