@import '../../../globals';

.VacationItem {
  margin: 5px 5px;
  padding: 10px;
  width: 400px;
  height: auto;
  border: 1px solid black;
  border-radius: $border-radius;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $secondary-color;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  &__containerInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__photo {
    @include centeredFlexBox;
    width: 100%;
    height: 300px;
    object-fit: cover; /* Added object-fit property for image sizing */
    border-radius: $border-radius;
    justify-content: center;
  }

  &__buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Added justify-content property */
    padding: 20px; /* Added padding for spacing */
    align-items: center;
    -ms-flex-align: center;
  }

  h2 {
    margin-top: 5px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
  }

  .vacation-info {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__label {
    margin: 7px;
    font-weight: bold;
    font-size: 18px;
  }

  &__label:nth-child(1) {
    margin-left: 0;
  }

  &__date {
    margin-left: 10px; /* Add spacing between dates */
    font-size: 18px;
  }

  &__price {
    margin-top: 20px; /* Add some space between each entry */
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: $reflection-color;
    padding: 5px;
    border-radius: $border-radius;
    width: 80%;
    justify-content: center;
  }

  &__likes {
    margin: 20px;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
  }
}
