@import '../../../globals';

.VacationItem {
  margin: 5px 5px;
  padding: 20px;
  width: 400px;
  height: auto;
  border: 1px solid black;
  border-radius: $border-radius;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: $secondary-color;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__containerInput {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
  }

  &__photo {
    @include centeredFlexBox;
    width: 360px;
    height: 300px;
    object-fit: cover; /* Added object-fit property for image sizing */
    border-radius: $border-radius;
  }

  &__buttonGroup {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Added justify-content property */
    padding: 10px; /* Added padding for spacing */
    justify-content: start;
  }

  h2 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
  }
}
