@import '../../../globals';

.Button {
  display: flex;
  position: relative;
  align-items: center;
  padding: 2px;
  width: 100px;
  height: 30px;
  // border: 2px solid white;
  border-radius: 15px;
  background-color: $secondary-color;
  color: white;
  margin: 10px 5px 15px;
  justify-content: center;

  /* Shimmer animation */
  @keyframes button-shimmer {
    0% {
      background-position: left top;
    }

    100% {
      background-position: right bottom;
    }
  }

  &:hover {
    box-shadow: inset 5px -5px $shadow-color;
  }

  &:active {
    background-color: $accent-color;
  }
}
